.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --white: #ffffff;
  --blueactive: #188ce8;
  --blue: #2196f3;
  --black: #000000;
  --accentblack: #212121;
  --greytext: #757575;
  --greytext-footer: rgba(255, 255, 255, 0.6);
  --placeholder: rgba(117, 117, 117, 0.5);

  /* BACKGROUND */
  --darkgrey: #2f303a;
  --teamback: #f5f4fa;
  --overlaybg: #c4c4c4;
  --workbackgr: rgba(47, 48, 58, 0.8);

  /* Icons */
  --iconcolor: #afb1b8;
  --iconfootr: rgba(255, 255, 255, 0.1);

  /* Gradient */
  --gradhero: rgba(47, 48, 58, 0.4);

  /* shadow */
  --shadow: rgba(0, 0, 0, 0.15);
  --teamshadow1: rgba(0, 0, 0, 0.12);
  --teamshadow2: rgba(0, 0, 0, 0.14);
  --teamshadow3: rgba(0, 0, 0, 0.2);
  --boxshadow1: rgba(0, 0, 0, 0.1);
  --boxshadow2: rgba(0, 0, 0, 0.08);
  --boxshadow3: rgba(0, 0, 0, 0.12);
  --portfshadow2: rgba(0, 0, 0, 0.06);
  --portfshadow3: rgba(0, 0, 0, 0.16);

  /* border */
  --footerborder: rgba(255, 255, 255, 0.3);

  /* lines */
  --portfborder: #eeeeee;
  --hederline: #ececec;
  --formborder: rgba(33, 33, 33, 0.2);

  /* btn radius */
  --btnradius: 4px;

  /* flex */
  --items: 3;
  --itemsteam: 4;
  --itemsadv: 4;
  --indent: 30px;

  /* Animation */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*RESET*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* отсутствие отступов после картнок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* сброс настроек списка */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* сброс настроек ссылок */
.link {
  text-decoration: none;
  color: currentColor;
}

/* ************************************** */
body {
  background-color: var(--white);
  color: var(--greytext);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* outline: 1px solid blue;
  outline-offset: -1px; */
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 1px solid tomato;
  outline-offset: -1px; */
}

/*HEADER*/
.header-page {
  border-bottom: 1px solid var(--hederline);
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;

  /* background-color: greenyellow; */
}
.logo-black {
  color: var(--black);
}
.logo-white {
  color: var(--white);
}
nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.nav-site {
  display: flex;
  align-items: baseline;
  gap: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--accentblack);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* background-color: greenyellow; */

  transition: color var(--anim);
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--blue);
}

.nav-link.current::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  bottom: -1.5%;

  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

.header-contact {
  color: var(--greytext);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  gap: 50px;
  align-items: center;
  /* background-color: greenyellow; */
}
.header-link {
  display: flex;
  align-items: center;
  gap: 10px;

  transition: color var(--anim);
}
.cont-svg {
  display: block;
  fill: currentColor;
}
.header-link:hover,
.header-link:focus {
  color: var(--blue);
  fill: var(--blue);
}
/* MAIN */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--darkgrey);
  text-align: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--overlaybg);
  background-image: linear-gradient(to right, var(--gradhero), var(--gradhero)),
    url('../img/hero.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 696px;
  min-height: 120px;
}
.button {
  font-family: inherit;

  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px; /*32-2*2 ширина бордера*/

  background-color: var(--blue);
  color: var(--white);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  border-radius: var(--btnradius);
  border: none;

  transition: background-color var(--anim), box-shadow var(--anim);
}
.button:hover,
.button:focus {
  font-family: inherit;
  background-color: var(--blueactive);
  box-shadow: 0px 4px 4px var(--shadow);
}
/* Advant */
.adv {
  padding-bottom: 0;
}
.adv-comp {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.adv-item {
  flex-basis: calc((100% - var(--indent) * (var(--itemsadv) - 1)) / var(--itemsadv));
}

.adv-img {
  background-color: var(--teamback);
  border-radius: var(--btnradius);

  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.adv-title {
  color: var(--accentblack);
  font-weight: 700;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.adv-text {
  width: 270px;
}
.adv-icon {
  display: block;
}

/* WORK */
.work-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.work_item {
  position: relative;
}
.work-img {
  flex-basis: calc((100% - var(--indent) * (var(--itemsteam) - 1)) / var(--itemsteam));
}

.work-title,
.team-title {
  color: var(--accentblack);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.work-name {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: var(--workbackgr);
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  min-height: 70px;
}
/* TEAM */
.team {
  background-color: var(--teamback);
}
.team-comp {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px var(--teamshadow1), 0px 1px 1px var(--teamshadow2),
    0px 2px 1px var(--teamshadow3);

  text-align: center;

  flex-basis: calc((100% - var(--indent) * (var(--itemsteam) - 1)) / var(--itemsteam));
}

.team-group {
  padding: 30px 32px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--accentblack);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
/* social-icons */
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--iconcolor);
  background-color: var(--white);
  border-radius: 50%;

  transition: background-color var(--anim), color var(--anim);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--blue);
  color: var(--white);
}
.social-icon {
  fill: currentColor;
  display: block;
}

/* Clients */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  color: var(--accentblack);

  margin-bottom: 50px;
}
.client-group {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.client-item {
  flex-basis: calc((100% - 150px) / 6);
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--iconcolor);
  background-color: var(--white);
  color: var(--iconcolor);

  border-radius: var(--btnradius);
  min-height: 92px;

  transition: border var(--anim), color var(--anim);
}

.client-svg {
  display: block;
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--blue);
  color: var(--blue);
}

/* FOOTER */
.footer-page {
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.f {
  margin-bottom: 20px;
  margin-right: 0;

  /* background-color: greenyellow; */
  display: block;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.adress-city {
  text-decoration: none;
  color: var(--white);
  font-style: normal;

  /* background-color: greenyellow; */
  display: block;

  transition: color var(--anim);
}
.adress-contact {
  text-decoration: none;
  color: var(--greytext-footer);
  font-style: normal;

  /* background-color: greenyellow; */
  display: block;

  transition: color var(--anim);
}

.adress-city:hover,
.adress-city:focus,
.adress-contact:hover,
.adress-contact:focus {
  color: var(--blueactive);
}
/* Footer social */
.footer-cont {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.join {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white);

  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 10px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--white);
  background-color: var(--iconfootr);
  border-radius: 50%;

  transition: background-color var(--anim);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue);
}

.footer-icon {
  display: block;
  fill: currentColor;
}
/* Footer Email */
.footer-email {
  width: 358px;
  height: 50px;

  border: 1px solid var(--footerborder);

  /* background-color: drop-shadow(0px 4px 4px var(--shadow)); */

  background-color: var(--darkgrey);
  border-radius: var(--btnradius);

  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px; */

  position: relative;
}
.footer-email::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--greytext-footer);

  position: absolute;
  top: 15px;
  left: 16px;
}
.sign-groupe {
  display: flex;
  flex-direction: row;
  gap: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.form-btn {
  position: relative;
}
.sign-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;
}
.sign-icon {
  display: block;
  fill: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 148px;
}

/* //////////////////////////// */
/* PORTFOLIO */

.filter {
  margin-bottom: 34px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--accentblack);
  background-color: var(--teamback);

  cursor: pointer;

  min-width: 73px;
  height: 38px;
  padding: 6px 22px;

  border-radius: var(--btnradius);
  border-color: transparent;

  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px var(--boxshadow1), 0px 1px 2px var(--boxshadow2),
    0px 2px 2px var(--boxshadow3);
}
.portf-cont {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.portf-progect {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portf-link {
  display: inline-block;
  position: relative;

  transition: box-shadow var(--anim);
}
.portf-link:hover,
.portf-link:focus {
  box-shadow: 0px 1px 1px var(--boxshadow3), 0px 4px 4px var(--portfshadow2),
    1px 4px 6px var(--portfshadow3);
}

.portf-card {
  position: relative;
  overflow: hidden;
}
.portf-img {
  display: inline-block;
}
.portf-overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white);
  /* padding-left: 24px;
  padding-right: 24px; */
  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform var(--anim);
}
.portf-link:hover .portf-overlay,
.portf-link:focus .portf-overlay {
  transform: translateY(0);
}
.portf-group {
  padding: 20px 24px;

  border: 1px solid var(--portfborder);
  border-top: none;
}
.portf-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accentblack);

  margin-bottom: 4px;
}
.portf-text {
  font-size: 16px;
  line-height: 1.9;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--teamshadow3);

  /* opacity: 1; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: var(--white);
  box-shadow: 0px 1px 3px var(--teamshadow1), 0px 1px 1px var(--teamshadow2),
    0px 2px 1px var(--teamshadow3);
  border-radius: var(--btnradius);

  visibility: visible;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--boxshadow1);
}
.modal-icon {
  display: block;
  fill: currentColor;
}

/* input[name="user-descr"]::placeholder {
  color: red
} */

.register {
  display: flex;
  flex-direction: column;
}
.register-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--accentblack);
}
.register-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}
.register-item {
position: relative;
}
label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
}
.register-name {
  /* margin-bottom: 4px; */

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--greytext);
}

.register-input {
  height: 40px;

  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid var(--formborder);
  border-radius: var(--btnradius);

  width: 100%;
  /* margin-bottom: 10px; */
  
}
.register-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--accentblack);
}
.register-textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid var(--formborder);
  border-radius: var(--btnradius);
}
textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--placeholder);
}
.label-checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;

  /* margin-bottom: 30px; */
}
.checkbox-link {
  color: var(--blue);
}

.form-btn {
  font-family: inherit;
  width: 200px;
  height: 50px;
  padding: 10px 52px;

  background-color: var(--blue);
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: var(--btnradius);
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
}
.form-footer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
